.about-history-section {
    margin-top: 3rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-evenly;
}

.about-history-img-div {
    box-shadow: 0 1.563rem 1.563rem #DF9DCF;
    border-radius: 2rem;

    background-image: url('../assets/firstGbm7.jpg');

    background-size: contain; /* Show whole img */
    background-repeat: no-repeat; /* Don't let image repeat to fill */
    background-position: center;  /* Position the image in the center */
    background-size: 100%;

    width: 35rem;
    height: auto;
}

.about-history-content-div {
    margin-left: 5rem;
    width:  45rem;
    height: auto;
}

.about-founders-section {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

.about-founders-content-div {
    width:  45rem;
    height: auto;
    margin-left: 5rem;
}

.about-founders-img-div {
    margin-left: 4rem;
    margin-top: 5rem;

    box-shadow: 0 1.563rem 1.563rem #CBEFD7;
    border-radius: 2rem;

    background-image: url('../assets/firstGbm7.jpg');

    background-size: contain; /* Show whole img */
    background-repeat: no-repeat; /* Don't let image repeat to fill */
    background-position: center;  /* Position the image in the center */
    background-size: 100%;

    width: 35rem;
    height: auto;
}