.about-music-div {
    display: flex;
    flex-direction: row;
    gap: 5rem;

    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.about-music-right-div{
    width: 65rem;
}

.about-music-img {
    margin-top: 2rem;
    box-shadow: 0 1.563rem 1.563rem #DF9DCF;
    border-radius: 2rem;

    height: auto;
    width: 300px; 
    max-height: 360px; 
}