
/* ======================================== START OF NAV BAR CSS ======================================== */

.custom-navbar {
  background-color: #633160 !important;
}

.custom-navbar .navbar-brand {
  font-family: 'Bungee', sans-serif;
  font-style: normal;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  height: 5rem;
}

.custom-navbar .nav-link {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.logo {
  width: 80px;  /* Adjust size */
  height: 80px; /* Adjust size */
  background-image: url('../assets/harmonyHacksLogoWithTextGreen.svg'); /* Path to the logo */
  background-size: cover; 
  background-position: center;  /* Position the image in the center */
  margin-right: 1rem;  /* Space between logo and brand text */
  ;
}

/* ======================================== END OF NAV BAR CSS ======================================== */

.page-h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 3rem;
}

.page-h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 2.5rem;
  font-weight: 700; /* Semi-Bold */
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.page-p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.15rem;
}

/* use this to make text h1 green */
.color-green {
  color: #CBEFD7;
}

/* use this to make h1,h2 purple */
.color-purple {
  color: #A23E8C;
}

/* use this to make paragraph text dark purple */
.color-darkpurple {
  color: #633160;
}

/* use this to make paragraph text white */
.color-white {
  color: #F5F5F5;
}

/* use this to make a section purple */
.section-purple {
  background: #A23E8C;
  padding: 0.5rem;
  width: 100%;
}