

/* ================================================= HACKATHON GUIDE  ================================================= */

.hackathon-guide-section {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.hackathon-guide-img {
    align-self: left;
    border-radius: 1rem;

    height: auto;
    width: auto; 
    max-height: 12rem; 

    margin-top:2rem;
    margin-right: 2rem;
}

.hackathon-guide-content-div {
    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: center;

    height: auto;
    gap: 2rem;
}

/* ================================================= HACKATHON GALLERY ================================================= */

.hackathon-gallery-section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
    align-content: center;
}

.hackathon-gallery-container {

    margin-top: 2rem;
    margin-bottom: 5rem;

    columns: 4;
    column-gap: 1rem;
    align-content: center;
}

.hackathon-gallery-container .box-img {
    width:100%;
    break-inside: avoid;
}

.hackathon-gallery-img {
    border-radius: 1rem;

    height: auto;
    width: 24rem;

    margin-bottom: 1rem;
}

/* ================================================= GALLERY MODAL CSS ================================================= */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #633160cc;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-image {
    margin-top: 5rem;
    max-width: 80%;
    max-height: 80%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 63316080;
}

/* ================================================= RESPONSIVE SCREEN #1 ================================================= */

@media only screen and (max-width: 1600px) {

    /* ============= HACKATHON GALLERY  ============= */
    
    .hackathon-gallery-container {
        width: 1350px;
        margin-right:1rem;
    }
    
    .hackathon-gallery-container .box-img {
        width: 1350px;
    }
    
    .hackathon-gallery-img {
        width: 20rem;
    }
}

/* ================================================= RESPONSIVE SCREEN #2 ================================================= */

@media only screen and (max-width: 1350px) {

    /* ============= HACKATHON GALLERY  ============= */
    
    .hackathon-gallery-container {
        width: 1100px;
    }
    
    .hackathon-gallery-container .box-img {
        width: 1100px;
    }
    
    .hackathon-gallery-img {
        width: 16rem;
    }
}

/* ================================================= RESPONSIVE SCREEN #3 ================================================= */

@media only screen and (max-width: 1100px) {

    /* ============= HACKATHON GUIDE  ============= */

    .hackathon-guide-content-div {
        flex-direction: column;
    }

    .hackathon-guide-img {
        align-self: center;
        margin-top: 0rem;
        margin-right: 0rem;
    }

    /* ============= HACKATHON GALLERY  ============= */

    .hackathon-gallery-container {
        width: 850px;
    }
    
    .hackathon-gallery-container .box-img {
        width: 850px;
    }
    
    .hackathon-gallery-img {
        width: 13rem;
    }

}

/* ================================================= RESPONSIVE SCREEN #4 ================================================= */

@media only screen and (max-width: 850px) {

    /* ============= HACKATHON GALLERY  ============= */

    .hackathon-gallery-container {
        width: 700px;
        columns: 3;
        padding-left: 0.5rem;
    }
    
    .hackathon-gallery-container .box-img {
        width: 700px;
    }
    
    .hackathon-gallery-img {
        width: 14rem;
    }

}

/* ================================================= RESPONSIVE SCREEN #5 ================================================= */

@media only screen and (max-width: 700px) {

    /* ============= HACKATHON GALLERY  ============= */

    .hackathon-gallery-container {
        width: 550px;
    }
    
    .hackathon-gallery-container .box-img {
        width: 550px;
    }
    
    .hackathon-gallery-img {
        width: 11rem;
    }

}